<h1>All Rooms</h1>
<% @rooms.each do |room| %>
  <h2><%= room.planet %></h2>
  <p>Location : <%= room.planet %></p>
  <p>Price: <%= room.price %></p>
  <p>Description: <%= room.description %></p>
  <p>Total Occupancy: <%= room.total_occupancy %></p>
  <p>Total Bedrooms: <%= room.total_bedrooms %></p>
  <p>Total Bathrooms: <%= room.total_bathrooms %></p>
  <p>Home Type: <%= room.home_type %></p>
  <p>Section: <%= room.section %></p>
  <img src="<%= room.room_images %>" width="100" />
  <a href="/rooms/<%= room.id %>">More Info...</a>
  <%# <a href="/reservations/new">Book Now...</a> %>

  <h1>New Reservation</h1>
<%= form_with model: @reservation do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :start_date %>
    <%= form.text_field :start_date %>
  </div>
  <div>
    <%= form.label :end_date %>
    <%= form.text_field :end_date %>
  </div>
  <div>
    <%= form.submit %>
  </div>
  <% end%>
<% end %> 