<h1>All Rooms</h1>
<% @room.each do |room| %>
  <h2><%= room.planet %></h2>
  <p>Location : <%= room.planet %></p>
  <p>Price: <%= room.price %></p>
  <p>Description: <%= room.description %></p>
  <p>Total Occupancy: <%= room.total_occupancy %></p>
  <p>Total Bedrooms: <%= room.total_bedrooms %></p>
  <p>Total Bathrooms: <%= room.total_bathrooms %></p>
  <p>Home Type: <%= room.home_type %></p>
  <p>Section: <%= room.section %></p>
  <% @room.room_images.each do |image| %>
  <img src="<%= room_image.url %>" width="100" />
<% end %>